/* Because The HTML elements were dispolaying white space around them, whcih I did not write into them. */

body {
 padding: 0;
 margin: 0;
 color: seashell;
 font-family: Helvetica;
}

/* Header */


.header {
  height: 69px;
  width: 100%;
  z-index: 5;
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0px;
  left: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
  
}

.header img {
  padding: 0px 0px 0px 20px;
  margin: 0px;
  height: 50px;
}

.header nav span{
  margin: 0px 20px 0px 0px;
  font-weight: bold;
}


/* Mission */

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-color: black;
  background-position: center;
  position: relative;
  width: 100%;
  top: 69px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#missionBanner {
background-color: black;
font-family: Helvetica;
height: 89px;
width: 1200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

h4 {
margin: 0;
padding:15px 0px 0px 0px;
font-weight: bold;
}

h2 {
margin: 0px;
padding: 0px;	
}


/* Featured Teas  */

.featured {
	width: 100%;
	height: 700px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 69px;
	font-family: Helvetica;
}

.featured h4 {
padding: 0;
margin-top: 10px;
font-weight: bold;
}

#row1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 170px;
width: 1000px;
}

#row2 {
display: flex;
width: 1000px;
align-content: space-between;
justify-content: space-between;
}

.featured img {
height: 200px;
width: inherit;
}

.box {
text-align: center;
width:300px;
font-family: Helvetica;
}

#row3 {
display: flex;
width: 1000px;
justify-content: center;
}

#box1 {
	margin-right: 50px;
}

/* Locations */

.locationContainer {
background-color: black;
height: 600px;
}

.locations {
height: 500px;
width: 100%;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
background-size: 1200px 500px;
background-repeat: no-repeat;
background-position: center;
position: relative;
top: 69px;
margin-top: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: Helvetica;
}

#locTitle {
padding-bottom: 15px;
}

.row4 {
display: flex;
}

.card {
background-color: black;
width: 300px;
height: 300px;
opacity: 1;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.card h3 {
font-weight: bold;
}

#card1, #card2 {
margin-right: 40px;
}

.footer {
 width 100%;
 height: 250px;
 background-color: black;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.row5 {
width: 1200px;
height: 200px;
text-align: center;
}

.row6 {
width: 100%;
text-align: left;
margin-left: 20px;
}