/* Header */

.header {
  height: 69px;
  width: 100%;
  z-index: 5;
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  text-decoration: underline;
}

.header img {
  margin: 0px 0px 0px 20px;
  height: 50px;
}

.header nav span{
  margin: 0px 20px 0px 0px;
  font-weight: bold;
}


/* Mission */

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  position: relative;
  top: 69px;
  height: 700px;
}

#missionBanner {
  margin-top: 0px;
}
